@tailwind base;
@tailwind components;
@tailwind utilities;
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 38px;

  border: 1px solid transparent;
  color: black;
  background-color: white;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}

button:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #1dc9a0;
  color: #1dc9a0;
}

button:active {
  background-color: transparent;
  border-color: #1dc9a0;
  color: #1dc9a0;
  transform: translateY(5px) scale(0.95);
}

button:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}
